@font-face {
    font-family: 'Droid Arabic Regular';
    src: url("F:/Projects/PysicsSimulatorProject/Common/Fonts/DroidKufi-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    direction: rtl;
    padding: 5px;
    font-family: 'Droid Arabic Regular';
    font-size: 100%;
}

div {
    font-family: 'Droid Arabic Regular';
    padding: 5px;
    padding-left: 1px;
    padding-right: 1px;
}

h2 {
    margin-bottom: 10px;
    text-align: center;
}

.button {
    font-family: 'Droid Arabic Regular';
    padding: 2px 6px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    border: none;
    text-align: center;
    background-color: #008CBA;
    transition: all 0.5s;
    cursor: pointer;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

label {
    font-family: tahoma;
}

.label-calculate {
    padding-right: 0px;
    padding-left: 2px;
}

.radio_input {
    width: 40px;
    height: 20px;
    margin-left: 35px;
    margin-right: 0px;
}

#main-container {
    overflow: auto;
    border: 1px solid black;
    background-color: rgb(243, 248, 250);
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex-child {
    flex: 1;
    border: none;
}

.flex-child:first-child {
    margin-right: 10px;
}

#myform,
#myChart1,
#myChart2 {
    min-width: 500px;
    max-width: 500px;
    width: 500px;
}

#myimage {
    min-width: 300px;
    max-width: 300px;
    width: 300px;
}

.styled {
    font-family: cursive, sans-serif;
}

#E4 {
    margin-right: 10px;
}

.number_input {
    height: 20px;
    width: 100px;
    text-align: center;
    display: block;
}

.number_input2 {
    height: 15px;
    width: 100px;
    padding-right: 10px;
    margin-left: 10px;
    text-align: center;
}

.block {
    display: block;
    text-align: center;
    padding: 2px;
}

.inline-block {
    display: inline-block;
}

#Voltage {
    margin-right: 8px;
}

.calc {
    margin-top: 25px;
}

#data-table {
    font-family: tahoma;
}

#data-table thead td {
    background-color: #8CCCF1;
    font-weight: bold;
}

#data-table td {
    border: 1px solid #466E85;
    width: 133px;
    padding: 2px;
}